<div class="row">
  <div class="colm-logo">
    <img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Logo">
    <h2>Registrarte en mi nueva red social porfavorr</h2>
  </div>
  <div class="colm-form">
    <div class="form-container">
      <input type="text" placeholder="Usuario" [(ngModel)]="dataUser.user" name="user">
      <input type="password" placeholder="Contraseña" [(ngModel)]="dataUser.pass" name="pass">
      <button class="btn-login" (click)="register()">Registarse</button>
    </div>
  </div>
</div>