<div class="container">
  <h1>Bienvenido a mi pagina!</h1>
  <div class="container text-center">
    <div class="row mt-5">
      <div class="col">
        <div class="card" style="width: 18rem;height:400px;">
          <img src="assets\images\undraw_Sign_up_n6im.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Login</h5>
            <p class="card-text">Iniciar sesion</p>
            <a href="#" class="btn btn-primary" [routerLink]="['/login']">Ver Inicio Sesion</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;height:400px;">
          <img src="assets\images\undraw_Calculator_re_alsc.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Calcular edad</h5>
            <p class="card-text">Componente para calcular edad.</p>
            <a href="#" class="btn btn-primary" [routerLink]="['/calculator']">Calcular!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;height:400px;" >
          <img src="assets\images\undraw_Page_not_found_re_e9o6.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Error</h5>
            <p class="card-text">Pagina de error</p>
            <a href="#" class="btn btn-primary" [routerLink]="['/error']">Generar Error</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>